.rs_container{
    display:grid;
    grid-template-rows: max-content auto;
    height: var(--height);
}

.rs_body{
    position: relative;
    display: grid;
    grid-template-columns: var(--leftcol-w) auto;

    overflow-x:hidden;
    overflow-y:auto;
}

.rs_body>*{
    margin-top: calc( var(--step-h) * 1.5 );
}

.rs_leftCol{
    display:grid;
    user-select:none
}

.rs_leftColCell{
    display:block;
    text-align:center;
    height: var(--step-h);
    font-size: 85%;
    background-image: linear-gradient( 
            180deg, 
            var(--linecol),
            var(--linecol) 1px,
            transparent 1px,
            transparent 100%
        );
    overflow: hidden;
    contain: layout;
}

.rs_columns{
    display:grid;
    grid-template-columns: repeat( var(--colnum), auto );
}

